<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Информация по зонам и земельным участкам</title>
    </h:head>
    <h:body>
        <style type="text/css">
            .ibutton {width: 230px; font-size: 14px; padding: 5px; color: #FFFFFF; background: none repeat scroll 0 0 #006CB4; border: 1px solid #006CB4;}
            .itext {font-size: 1.1em; font-family: Calibri; font-weight: bold; color: #777;}
        </style>
        <h:form>
            <div align="center" style="margin-bottom: 10px;">
                <h:outputText value="Какая информация Вам необходима?" styleClass="itext"/>
            </div>
            <div align="center">
                <h:commandButton value="По земельным зонам" action="#{zones.showZones()}" styleClass="ibutton" style="margin-right: 5px;"/>
                <h:commandButton value="По земельным участкам" action="#{zones.showPlots()}" styleClass="ibutton" style="margin-left: 5px;"/>
            </div>
        </h:form>
    </h:body>
</html>

