<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core">
    <h:head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"/> 
        <meta charset="utf-8"/>
        <meta name="viewport" content="initial-scale=1, user-scalable=no, maximum-scale=1.0"/>
        <link rel="stylesheet" type="text/css" href="./zouit.css" />
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
        <title>Земельные участки</title>
    </h:head>
    <h:body>
        <h:form>
            <style>


            </style>
            <div style="width: 800px;">

                <!-- ======================================== -->
                <!-- ======================================== -->
                <!-- ======================================== -->
                <!-- ======================================== -->
                <!-- ======================================== -->

                <div class="zouit_block">
                    <dl>
                        <dt>
                            Введите кадастровый номер земельного участка:
                        </dt>
                        <dd>
                            <input id="doc_number_fild" type="text" name="" value="#{zones.objNumber}"/>
                        </dd>
                    </dl>
                    <ul class="buttons_side_find">
                        <li>
                            <h:commandButton styleClass="button" value="Найти" action="#{zones.updateZones()}"/>
                        </li>
                    </ul>
                </div>

                <script>
                    $(document).ready(function () {
                        $('.drop_arrow_btn').on('click', function () {

                            $(this).parents('div').siblings().removeClass("active").end()
                                    .parents('div.zouit_item').toggleClass("active");
                        });
                    });

                </script>

                <div class="zouit_items">
                    <ui:repeat value="#{zones.zoneInfo}" var="zoneInfo" rendered="#{zones.zoneInfo.size()>0}">
                        <div class="zouit_item active">
                            <div class="zouit_item_title ">
                                <div class="zouit_left">
                                    Учетный номер ЗОУИТ *:
                                </div>
                                <div class="zouit_right">
                                    #{zoneInfo.zoneNumber}
                                </div>
                                <div class="drop_arrow_btn" title="Развернуть/Свернуть"></div>
                            </div>
                            <ul class="zouit_item_list">
                                <ui:repeat value="#{zoneInfo.document}" var="docum" rendered="#{zoneInfo.document.size() gt 0}">
                                    <li>
                                        <div class="zouit_left title">
                                            Реквизиты решения органа государственной власти или органа местного самоуправления об установлении или изменении ЗОУИТ*/реквизиты нормативного правового акта, в соответствии с которым ЗОУИТ* считается установленной без принятия решения об ее установлении или без изменения ее границ:

                                        </div>
                                        <div class="zouit_right">
                                            Постановление № #{docum.documentNumber} от #{zones.DateStr(docum.documentDate)} #{zones.betweenQuout(docum.documentName)}
                                        </div>
                                    </li>
                                    <li>
                                        <div class="zouit_left title">
                                            Дата регистрации ЗУ:
                                        </div>
                                        <div class="zouit_right">
                                            #{zones.DateStr(zoneInfo.zoneDate)}

                                        </div>
                                    </li>
                                    <li>
                                        <div class="zouit_left title">
                                            Дата обременения ЗУ:
                                        </div>
                                        <div class="zouit_right">
                                            #{zones.DateStr(zoneInfo.zuDate)}

                                        </div>
                                    </li>
                                    <li>
                                        <div class="zouit_left title">
                                            Содержание ограничений использования земельного участка в границах ЗОУИТ *:
                                        </div>
                                        <div class="zouit_right">
                                            Постановление № #{docum.documentNumber} от #{zones.DateStr(docum.documentDate)} #{zones.betweenQuout(docum.documentName)}

                                        </div>
                                    </li>
                                </ui:repeat>    
                                <li>
                                    <div class="zouit_left title">
                                        Кадастровые номера земельных участков, включенных в границы ЗОУИТ *:

                                    </div>
                                    <div class="zouit_right">
                                        <select size="6" multiple="true" name="list_view">
                                            <ui:repeat value="#{zoneInfo.parcels}" var="parcel" rendered="#{zoneInfo.parcels.size() gt 0}">
                                                <option value="">#{parcel}</option>
                                            </ui:repeat>
                                        </select>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </ui:repeat>
                </div>
                <p style="display: #{documents.inFiles.size() gt 0?'block':'none'}">
                    * ЗОУИТ - зона с особыми условиями использования территории
                </p>

                <!-- ======================================== -->
                <!-- ======================================== -->
                <!-- ======================================== -->
                <!-- ======================================== -->
                <!-- ======================================== -->

            </div>

        </h:form>
    </h:body>
</html>