﻿
.zouit_items{ border: 0px dashed red;
	display: block;
	/*width: 767px;*/
}
.zouit_items .zouit_item_list{display: none;}

.zouit_items .zouit_item.active ul.zouit_item_list{display: block;}

.zouit_items .zouit_item{ border: 0px dashed lime;
	display: block;	
	margin-top: 27px;
}
.zouit_item.active .drop_arrow_btn{

				 
				-moz-transform : rotate(-180deg);
			 -webkit-transform : rotate(-180deg);
				 -ms-transform : rotate(-180deg);
					 transform : rotate(-180deg);
}
.zouit_items .zouit_item .zouit_item_title{
	display: block;
	background-color: #f5f7f6;
	padding: 16px;
	
	font-family: Calibri;
	font-weight: bold;
	color: #777;
} 
.zouit_items .zouit_item ul.zouit_item_list li .zouit_left{
	padding: 16px 10px 16px 16px;
}

.zouit_items .zouit_item ul.zouit_item_list li .zouit_right select{
	font-family: Calibri;
	color: #777;
	width: 100%;
	font-size: 16px;
	border: none;
}
.zouit_items .zouit_item ul.zouit_item_list li .zouit_right{
	padding: 16px 0px 16px 0px;
	margin-left: -4px;
}

.zouit_items .zouit_item ul.zouit_item_list li{ border-top: 1px solid #cecece;}
.zouit_items .zouit_item ul.zouit_item_list li:last-child{ border-bottom: 1px solid #cecece;}

.zouit_items .zouit_item ul.zouit_item_list{
	margin: 0px;
	padding: 0px;
	list-style: none;
	/*display: block;*/

	font-family: Calibri;
	color: #777;
}
.zouit_items .zouit_item .zouit_item_list .title{

	font-weight: bold;
}

.zouit_left,
.zouit_right{
	display: inline-block;
	vertical-align: top;
}
.zouit_left{
	padding-right: 10px;
	width: 326px;
}
.zouit_right{
	margin-left: -4px;
	width: calc(100% - 365px);
}


.zouit_block {
    border: 1px solid #c5c5c5;
	background-color: #f5f7f6;
    padding: 16px;
	display: block;
	/*width: 735px;*/
}
.zouit_block dl{
	margin-bottom: 0px;
}

.zouit_block dd input[type="text"]{border: 1px solid #cacaca;
	width: calc(100% - 350px);
	height: 26px;
	padding-left: 5px;
    padding-right: 5px;
}
.zouit_block dd { border: 0px dashed red;
	margin: 0px; 
	vertical-align: top; 
	display: block;
	text-align: right;
}
.zouit_block dt { border: 0px dashed lime;
    float: left;
    padding-right: 10px;
    text-align: left;
    width: 326px;
	font-size: 16px;
	font-family: Calibri;
	font-weight: bold;
	color: #777;
}
.buttons_side_find{
	text-align: right;	
	text-decoration: none;
	list-style: none;
}
.buttons_side_find input[type="submit"]:hover{
	opacity: .8;
}
.buttons_side_find input[type="submit"]{
    background: none repeat scroll 0 0 #006CB4;
    border: 1px solid #006CB4;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 13px;
    outline: medium none;
    padding: 5px 10px;
    width: 109px;
}	

.drop_arrow_btn {
    background: url("./drop_arrow_blue.png") no-repeat scroll center center / 30px 30px rgba(0, 0, 0, 0);

    cursor: pointer;
    display: inline-block;
	vertical-align: top;
    height: 20px;
    width: 20px;
	float: right;
	
			-moz-transition : -moz-transform .3s,opacity .3s;
		 -webkit-transition : -webkit-transform .3s,opacity .3s;
			 -ms-transition : -ms-transform .3s,opacity .3s;
				 transition : transform .3s,opacity .3s;
}
